<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" dir="ltr">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google" value="notranslate">
  <title>Welp</title>

  <link rel="stylesheet" href="/stylesheets/style.css">

  <script src="/javascripts/jquery.min.js" type="text/javascript"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/handlebars-v1.3.0.js"></script>
  <!--<script src="//cdn.translationexchange.com/tml.js"></script>-->
  <script src="http://localhost:8080/tml.js"></script>

  <script>
    tml.init({
      key:    "3afab3cd9987da6f7dabc47870cb9e5099691ece290d99e303d98ed1e5fcef5f",
      host:   "http://localhost:3000",
      debug:  true,
      source: "handlebars",
      agent: {
        host: "http://localhost:8282/dist/agent.js"
      },
      language_selector: true,
      onLoad: function () {
        var context = {
          reviewer: {
            gender: "female",
            value: "Jane Smith"
          },
          restaurants: [
            {
              "name": "Ricky's Fish Tacos",
              "rating": 4,
              "review_count": 14,
              "last_comment": "Luckily, the perfect hot day food is a fish taco."
            },
            {
              "name": "Genwa Korean Bbq",
              "rating": 3,
              "review_count": 567,
              "last_comment": "I love love love the fact that you get 25 side dishes."
            },
            {
              "name": "Kang Hodong Baekjeong",
              "rating": 2,
              "review_count": 1,
              "last_comment": "Thick slices of juicy pastrami on rye hits the spot every time."
            },
            {
              "name": "Guisados",
              "rating": 1,
              "review_count": 14,
              "last_comment": "I can't wait to introduce more people to these orgasmic tacos."
            }
          ]
        };

        Handlebars.registerHelper("math", function (lvalue, operator, rvalue, options) {
          lvalue = parseFloat(lvalue);
          rvalue = parseFloat(rvalue);

          return {
            "+": lvalue + rvalue,
            "-": lvalue - rvalue,
            "*": lvalue * rvalue,
            "/": lvalue / rvalue,
            "%": lvalue % rvalue
          }[operator];
        });

        Handlebars.registerHelper('tr', function (label, description, options) {
          if (typeof label === "object") {
            options = label;
            description = "";
            label = options.fn();
          } else if (typeof description === "object") {
            options = description;
            description = "";
          }
          return new Handlebars.SafeString(window.tr(label, description, options.hash));
        });

        Handlebars.registerHelper('trl', function (label, description, options) {
          if (typeof label === "object") {
            options = label;
            description = "";
            label = options.fn();
          } else if (typeof description === "object") {
            options = description;
            description = "";
          }
          return new Handlebars.SafeString(window.trl(label, description, options.hash));
        });

        Handlebars.registerHelper('tml_block', function (options) {
          window.tml_begin_block(options.hash);
          var result = options.fn();
          window.tml_end_block();
          return result;
        });

        $.ajax({
          url: "/templates/index.hjs"
        }).done(function (data) {
          var template = Handlebars.compile(data);
          $("#content").html(template(context));
        }).fail(function (jqXHR, textStatus, errorThrown) {
          $("#content").html(errorThrown);
        });
      },
      onLanguageChange: function(language) {
        location.reload();
      }
    });
  </script>

</head>

<body>
<div id="content">

</div>
</body>
</html>

